[color]
	ui = true
	pager = true
[user]
	name = Abhishek Rai
	email = rai.abhishek90@gmail.com
	signingKey = 72471FC55B6D8AC3008B71EB22E13F39CDE58A8C
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
	pr = "!f() { MAIN_BRANCH=$(git symbolic-ref refs/remotes/origin/HEAD | awk -F/ '{print $4}'); git checkout $MAIN_BRANCH; git branch -D pr/$1 || true; git fetch origin refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	lg = "log --graph --abbrev-commit --pretty=format:'%C(bold green)%h%C(reset) - %C(bold red)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
	branches = "branch -a"
	newbranch = "!f() { MAIN_BRANCH=$(git symbolic-ref refs/remotes/origin/HEAD | awk -F/ '{print $4}'); git checkout $MAIN_BRANCH; git pull origin $MAIN_BRANCH; git checkout -b $1; }; f"
	showcommit = "!f() { git diff $1~; }; f"
[pager]
	diff = less
	branch =
	log = less
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[commit]
	gpgSign = true
[protocol "keybase"]
	allow = always
[pull]
	rebase = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[init]
	defaultBranch = master

