[color]
    ui = true
    pager = false
[user]
    name = Abhishek Rai
    email = rai.abhishek90@gmail.com
    signingKey = 72471FC55B6D8AC3008B71EB22E13F39CDE58A8C
[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = tig
[alias]
    pr = "!f() { git checkout master; git branch -D pr/$1 || true; git fetch upstream refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    newbranch = "!f() { git checkout master; git pull upstream master; git checkout -b $1; }; f"
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[commit]
    gpgSign = true
[protocol "keybase"]
    allow = always
