[submodule ".vim/pack/plugins/start/vim-signify"]
	path = .vim/pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/pack/plugins/start/fzf"]
	path = .vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/plugins/start/fzf.vim"]
	path = .vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/plugins/start/vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/pack/plugins/start/vim-polyglot"]
	path = .vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/pack/plugins/start/coc.nvim"]
	path = .vim/pack/plugins/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule ".vim/pack/plugins/opt/vim-go"]
	path = .vim/pack/plugins/opt/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/plugins/opt/rust.vim"]
	path = .vim/pack/plugins/opt/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/plugins/start/vim-devicons"]
	path = .vim/pack/plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule ".vim/pack/plugins/opt/vim-terraform"]
	path = .vim/pack/plugins/opt/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/plugins/start/ack.vim"]
	path = .vim/pack/plugins/start/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
